{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block css %}
{% static 'css/chats.css' %}
{% endblock %}
{% block content %}
    <div id="user" style="display : none">{{user.id}}</div>
    <div id="chats">
        {% for chat in chats %}
        {% if chat.is_private is None %}

            <a class="chat" href="{% url 'chat' chat.id %}">
                <img src="{{chat.chat_photo.url}}">
                <div class="mesandname">
                    <span class = "chat_name">{{chat.name}}</span>
                    {% for mes in chat.message.all %}
                        {% if forloop.last %}
                            <br>
                            <span class = "preview">{{mes.user}} : {{mes.preview}}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </a>
        {% else %}
            <a class="chat" href="{% url 'chat' chat.id %}">
                <img src="{{chat.is_private.second_user.profile_picture.url}}">
                <div class="mesandname">
                <span class = "chat_name">{{chat.is_private.second_user.name}}</span>
                {% for mes in chat.is_private.second_user.message.all %}
                    {% if forloop.last %}
                        {% if mes is not None %}<span class = "preview">{{mes.preview}}</span>{% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </a>
        {% endif %}
    {% endfor %}
    </div>

<p id="messages"><span id="nonselectedchat">Здесь будут отображаться ваши диалоги</span></p>
    <script src="{% static 'js/chats.js' %}"></script>

{% endblock %}