{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block css %}
{% static 'css/create_profile.css' %}
{% endblock %}
{% block content %}
<div id="formcreate">
    <h1>Вы уверены, что хотите удалить аккаунт?</h1>
    <h1>Восстановление будет невозможно</h1>
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" id="delete">Удалить</button>
    </form>
</div>
<script src="{% static 'js/buttons.js' %}"></script>
{% endblock %}