{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}
Новый пароль
{% endblock %}
{% block css %}
{% static 'css/authorization.css' %}
{% endblock %}
{% block content %}
<div id="content">
    <div id="form">
        <h1>Новый пароль</h1>
        <form method="POST" action="">
            {% csrf_token %}
               <div>{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}</p>
                <div>{{ f.errors }}</div>
            {% endfor %}
            <p><button type="submit" style="width: 80px">Сохранить</button></p>
        </form>
    </div>
</div>
<script src="{% static 'js/forminauth.js' %}"></script>
<script src="{% static 'js/buttons.js' %}"></script>
{% endblock %}
