{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}
Восстановление пароля
{% endblock %}
{% block css %}
{% static 'css/authorization.css' %}
{% endblock %}
{% block content %}
<div id="form" style="width: 600px; height: 200px">
    <h1>Восстановление пароля</h1>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" style="width: 100px">Отправить</button>
    </form>
</div>
<script>
    let form = document.getElementById('form');
    let height = window.innerHeight;
    let width = window.innerWidth;
    let button = document.querySelector('button');
  
    form.style.marginTop = Math.floor(height/3.5) + 'px';
    form.style.marginLeft = Math.floor(width/2.5) + 'px';
    button.addEventListener('mouseover', (event)=>{
      let el = event.target;
      el.style = 'cursor: pointer; background-color: #808080; width: 100px'
    });
    button.addEventListener('mouseout', (event)=> {
      let el = event.target;
      el.style = 'cursor: pointer; background-color: #0e1621; width: 100px';
    });
  
  </script>
{% endblock %}
