{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}
Успешное изменение пароля
{% endblock %}
{% block css %}
{% static 'css/authorization.css' %}
{% endblock %}
{% block content %}
<h1 style="margin-top: 10px;">Вы успешно изменили пароль!</h1>
<br>
<p style="font-size: 20px">Чтобы вернуться в профиль перейдите по {% if user.account.exists %}
    <a href="{% url 'main page' user.account.pk %}">ссылке</a></p>
{% else %}<a href="{% url 'create_profile' %}">ссылке</a></p>{% endif %}
<script>
    let a = document.querySelector('a');
    a.addEventListener('mouseover', (event)=>{
      let el = event.target;
      el.style = 'cursor: pointer; background-color: #808080'
    });
    a.addEventListener('mouseout', (event)=> {
      let el = event.target;
      el.style = 'cursor: noner; background-color: #0e1621';
    });
</script>
{% endblock %}