{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}
Новый пароль
{% endblock %}
{% block css %}
{% static 'css/authorization.css' %}
{% endblock %}
{% block content %}
<div id="form">
    <h1>Новый пароль</h1>
    <form method="POST" action="">
        {% csrf_token %}
           <div>{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}</p>
            <div>{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit">Сохранить</button></p>
    </form>
</div>
<script>
    let form = document.getElementById('form');
    let height = window.innerHeight;
    let width = window.innerWidth;
    let button = document.querySelector('button');
  
    form.style.marginTop = Math.floor(height/3.5) + 'px';
    form.style.marginLeft = Math.floor(width/2.5) + 'px';
    button.addEventListener('mouseover', (event)=>{
      let el = event.target;
      el.style = 'cursor: pointer; background-color: #808080; width: 100px'
    });
    button.addEventListener('mouseout', (event)=> {
      let el = event.target;
      el.style = 'cursor: pointer; background-color: #0e1621; width: 100px';
    });
  
  </script>
{% endblock %}
