{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}
Восстановление пароля
{% endblock %}
{% block css %}
{% static 'css/authorization.css' %}
{% endblock %}
{% block content %}
<div id="content">
<div id="form">
    <h1>Восстановление пароля</h1>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" style="width: 100px">Отправить</button>
    </form>
</div>
</div>
<script src="{% static 'js/forminauth.js' %}"></script>
<script src="{% static 'js/buttons.js' %}"></script>
{% endblock %}
